<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../layout/head.ejs %>
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <% include ../layout/nav.ejs %>

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Dashboard</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <p>
              We are working on this page ...
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->

    <% include ../layout/footer.ejs %>
  </div>
</div>
<% include ../layout/footer-scripts.ejs %>
</body>
</html>